/* CSS code for screens smaller than 600px */
@media screen and (max-width: 600px) {
  p {
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

body {
    margin: auto;
  background: #080808;
  color: #fff;
  width: 600px;    
}

.index-page {
  margin: 10px; 
  background-size: cover; 
  background-attachment: fixed;
}
#header {
  align-items: center;
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  padding: 1px 1%;
}

nav {
  display: flex;
  align-items: baseline;
  justify-content:flex-start;
}

.logo {
  margin: 0;
  width: 100px;
  height: 100%;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  margin-top: 10%;
  font-size: 20px;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 10px;
}
.header-text h1 span {
  color: red;
}
.image {
  float:right ;
    width: inherit;
  height: 200px;
  margin-right: 10px;
  border-radius: 45%; /* 半径が50%の円形になる */
}


/*-----------------------------about------*/
.sub-title {
  font-size: 2rem;
  margin: 40px 0;
  text-align: center;
}

.imgtext {
  margin-top: 0;
  display: flex;
  align-items: top;
}

.img {
    float: left;
  height: 300px;
    width: 200px;
  margin-right: 30px;
}

h3 {
  font-size: 1.0rem;
  line-height: 1.0;
}/* タブのタイトル */
.tab-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #green;
  margin-bottom: 10px;
}
.tab-links {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  border-top: 2px solid transparent;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

/* アクティブなタブのタイトル */
.active-link {
  background-color: black;
  border-top: 2px solid #006633;
  border-left: 1px solid #red;
  border-right: 1px solid #red;
  border-bottom: 1px solid #red;
}

/* タブコンテンツ */
.tabcontent {
  display: none;
  padding: 20px;
  border: 1px solid #red;
}

/*------------project--------------*/  
.sub-title {
  font-size: 2em;
  margin-top: 30px;
}
p {
  line-height: 1.5;
  margin-bottom: 20px;
}
/*------------Services--------------*/
.services {
  margin-top: 10px;
  text-align:left;
  background-color: black;
  padding: 20px 5px;
}

.services .container {
    margin-top: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services .service {
  width: calc(32% - 20px);
  margin-bottom: 20px;
  padding: 30px;
  text-align: center;
  background-color: black;
  box-shadow: 10px 5px rgba(7, 4, 9, 0.4);
}

.services .service img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.services .service h3 {
 color: tomato;
  font-size: 20px;
  margin-bottom: 10px;
}

.services .service p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 25px;
}

.services .service a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #222;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

.services .service a:hover {
  background-color: orange;
}



/*------------contact--------------*/

section#contact{
margin: 5;
text-align: left;
 padding: 5rem;
}

section#contact h1{
height: 100;
color: orangered;
margin-bottom: 2rem;
font-weight: bold;
text-align:left;
padding-left: 10;
}
form{
    width: 500px;
    margin: 2 auto;
    text-align: left;
}
label{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"]{
    width: 100%;
    padding: 10px;
    background-color:red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover{
    background-color: #fff;
    color: #333;
}
/*-----socal media-------*/

---------------------------
.social-media {
   float: down;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 10px;
}

img {
  width: 50px;
  height: 50px;
}


