@charset "utf-8";

@media screen and (orientation:landscape){
.top {
	text-align: left;
	letter-spacing: inherit;
	background-color:black;
	text-decoration-color: white;
	padding-left: 10px;
}
@media screen{
.texttop {
	 text-decoration-color: white;
		padding-left: 600px;
		text-align: center;
	}
	}
}
